$accent-color: #e8c300;
$line-color: rgba(255, 255, 255, 0.2);
$input-color: rgba(70, 70, 70, 0.8);
$color-grey: rgba(51, 51, 51, 0.5);

$logo-big-size: 140px;
$logo-big-halfsize: 70px;
$logo-small-size: 100px;
$input-width: 258px;
$button-height: 56px;
$button-height-sv: 36px;
$button-width: 186px;
$button-width-sv: 100px;
$nav-height: 93px;
